@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: #dde1e7;
}
.container{
    background-color: #dde1e7;
    width: 300px;
    min-width: 350px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px 0;
    border-radius: 10px;
    box-shadow: -3px -3px 7px #ffffff73,
                5px 5px 9px rgba(94,104,121,0.4);
}
p{
    font-size: 30px;
    font-weight: 500;
    color: #2c3e50;
    letter-spacing: 0.5px;
    margin-bottom: 30px;
    text-align: center;
    text-decoration: underline;
}
.timerdisplayonly{
    margin: auto;
    text-align: center;
    width: 100%;
    background-color: transparent;
    padding: 0 0;
    color: #2c3e50;
    font-size: 20px;
    font-weight: 500;
    word-spacing: 15px;
    border-radius: 5px;
}
.timerdisplay{
    margin: auto;
    text-align: center;
    width: 100%;
    background-color: transparent;
    padding: 0 0;
    color: #2c3e50;
    font-size: 40px;
    border-radius: 5px;
    margin-top: 20px;
}
.buttons{
    width: 100%;
    text-align: center;
    margin-top: 60px;
    padding: 0 15px;
}
.buttons button{
    width: 100%;
    padding: 15px;
    background-color: #2c3e50;
    color: #fff;
    border: none;
    font-family: 'Roboto',sans-serif;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.5px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}
#pausetimer{
    margin-top: 15px;
    margin-bottom: 15px;
}